.main{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.container h3{
    color: black;
}

.body_text{
    color: black;
}

.contenido{
    padding: 2.5em;
    color: black;
    background-color: white;
    height: 94vh;
}

.navbar{
    display: flex;
    justify-content: end;
}

.left_bar{
    background-color:#101F26 ;
}


.avatar_user{
    margin: 1em;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: start;
}

.avatar_name{
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.avatar_name p, h2{
    margin: 0;
    padding: 0;
}

.avatar_img{
    border-radius: 100%;
    width: 5em;
    height: 5em;
    background-color: white;
    overflow: hidden;
}



.menu{
    margin-top: 5em;
}

.menu a{ 
    text-decoration: none;
}

.menu li{
    list-style: none;
}

.item_select{
    padding:0.5em;
}

.img_avatar{
    width: 100%;
    height: 100%;
    object-fit: fill;
}