body {
    margin: 0;
    padding: 0;
    background-image: url('/register/public/fondo.jpg');
    background-size: cover;
}

input {
    background-color: rgba(187, 187, 187, 0.2)
}

.card {
    width: 26em;
    background-color: rgba(187, 187, 187, 0.2);
    padding: 4em;
    border-radius: 1.5em;
    border:solid 1px white;
    backdrop-filter: blur(10px);
}

.card_link{
    text-align: center;
}

.card_title{
text-align: center;
}


.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 62px);
}

.navbar {
    background-color: #13161E;
}

.navbar img {
    width: 100px;
}

